<!--  File Name: bottom_nav.ejs
      Name: Kody Reid
      Student Number: 301164732
      Date: June 1, 2021
-->

<!-- Bottom Nav -->
<footer>
  <div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">   
        <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved. </h6>
      </div>
    </nav>
  </div>
</footer>
  