<!--  File Name: footer.ejs
      Author: Kody Reid
      Student Number: 301164732
      Date: June 16, 2021
-->    
    <!--  Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>