<!--  File Name: add.ejs
      Author: Kody Reid
      Student Number: 301164732
      Date: June 15, 2021
-->

<!--Nav+Meta Section-->

<%- include('../components/header.ejs') %>
  

<!-- Contact Add Page Content -->

<div class="container">
    <div class="row">
        <div id="title" class="offset-md-3 col-md-6">
        <h1><%= title %></h1>

            <form class="form" method="POST">
            
                <div class="form-group">
                    <label for="usernameTextField">Name:</label>
                    <input type="text" class="form-control" 
                    id="usernameTextField" 
                    placeholder="Please enter your name" 
                    name="username" 
                    required>
                </div>
                
                <div class="form-group">
                    <label for="emailTextField">E-mail:</label>
                    <input type="text" class="form-control" 
                    id="emailTextField" 
                    placeholder="Please enter your email" 
                    name="email" 
                    required>
                </div>
                
                <div class="form-group">
                    <label for="passwordTextField">Password:</label>
                    <input type="text" class="form-control" 
                    id="passwordTextField" 
                    placeholder="Please enter your password" 
                    name="password" 
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Add</button>

                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
    </div>
    </div>
</div>   



<!--Bottom Footer-->
<%- include('../components/bottom_nav.ejs') %>

<!--Bottom Nav-->
<%- include('../components/footer.ejs') %>