<!--  File Name: login.ejs
      Author: Kody Reid
      Student Number: 301164732
      Date: June 16, 2021
-->

<!--Nav+Meta Section-->

<%- include('../components/header.ejs') %>
  

<!-- Log In Page Content -->
<main class="container">
<!--Message Area to user-->
<%if(messages.length > 0){%>
      <div class="alert alert-danger">
            <%= messages %>
      </div>
<% } %>

<div class="row">
      <div class="offset-md-4 col-md-4">
            <h1>Please Login</h1>
            <form action="" method="POST" autocomplete="off">
                  <fieldset class="form-group">
                        <label for="Username: "></label>
                        <input type="text" class="form-control"
                        name="username" 
                        placeholder="Enter username"
                        id="username" required autofocus>
                  </fieldset>

                  <fieldset class="form-group">
                        <label for="Password: "></label>
                        <input type="password" class="form-control"
                        name="password" 
                        placeholder="Enter password"
                        id="password" required>
                  </fieldset>
                  <fieldset class="form-group text-right">
                        <input type="text" class="btn btn-success">
                  </fieldset>

            </form>
      </div>
</div>
</main>




<!--Bottom Footer-->
<%- include('../components/bottom_nav.ejs') %>

<!--Bottom Nav-->
<%- include('../components/footer.ejs') %>